/* Global varibles */

:root {
  --extraDarkblue: rgb(0, 0, 50);
  --gold: #cbbd78;
  --lauGreen: #016251;
}

/* Fonts */

@font-face {
  font-family: "Matt Antique BT";
  src: url("../fonts/Matt\ Antique\ BT.ttf");
}

/* Animations */

@keyframes meetOurTeam {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Styling */

@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Matt Antique BT";
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: whitesmoke;
  }

  #acknowledgements {
    margin-top: 150px;
  }

  /* General styling for all 3 division */

  .image-container {
    position: relative;
    background-size: cover;
    margin: 0 auto;
  }

  .container-child {
    position: absolute;
    color: #333;
    background: rgba(245, 245, 245, 0.95);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
  }

  .header {
    margin-top: 35px;
    font-size: 27px;
  }

  .see {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    transition: all 0.7s;
    position: relative;
    z-index: 1;
  }

  .see:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .see:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--gold);
    transition: all 0.7s;
    z-index: -1;
  }

  .see:hover {
    color: #333;
  }

  .see:hover:before {
    width: 100%;
  }

  /* First div */

  #library {
    background-image: url("../images/lib.jpg");
    width: 75vw;
    height: calc(75vw / 2.4);
    /* 2.4 is the width/height ratio of that image */
  }

  #library-description {
    top: calc(75vw / 8);
    left: -100px;
    width: 240px;
    height: 240px;
  }

  #library-description p {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* Second div */

  #free-islamic-cali {
    background-image: url("../images/free-islamic-calligraphy-logo.png");
    width: 30vw;
    height: 30vw;
    margin-top: 200px;
  }

  #cali-description {
    top: 50px;
    right: -100px;
    height: 200px;
    width: 200px;
  }

  #cali-description h1 {
    margin-bottom: 50px;
  }

  /* Third div */

  #chairperson {
    background-image: url("../images/persia.jpg");
    width: 65vw;
    height: calc(65vw / 2);
    margin: 200px auto 100px auto;
  }

  #chairperson-description {
    top: 50px;
    left: -100px;
    height: 275px;
    width: 275px;
  }

  #chairperson-description p {
    margin-top: 20px;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Matt Antique BT";
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: whitesmoke;
  }

  #acknowledgements {
    margin-top: 150px;
  }

  /* General styling for all 3 division */

  .image-container {
    position: relative;
    background-size: cover;
    margin: 0 auto;
  }

  .container-child {
    position: absolute;
    color: #333;
    background: rgba(245, 245, 245, 0.95);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
  }

  .header {
    margin-top: 35px;
    font-size: 27px;
  }

  .see {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    font-size: 16px;
    transition: all 0.7s;
    position: relative;
    z-index: 1;
  }

  .see:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .see:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--gold);
    transition: all 0.7s;
    z-index: -1;
  }

  .see:hover {
    color: #333;
  }

  .see:hover:before {
    width: 100%;
  }

  /* First div */

  #library {
    background-image: url("../images/lib.jpg");
    width: 75vw;
    height: calc(75vw / 2.4);
    /* 2.4 is the width/height ratio of that image */
  }

  #library-description {
    top: calc(75vw / 8);
    left: -100px;
    width: 250px;
    height: 250px;
  }

  #library-description p {
    margin-top: 35px;
    font-size: 18px;
    margin-bottom: 25px;
  }

  /* Second div */

  #free-islamic-cali {
    background-image: url("../images/free-islamic-calligraphy-logo.png");
    width: 30vw;
    height: 30vw;
    margin-top: 200px;
  }

  #cali-description {
    top: 50px;
    right: -100px;
    height: 200px;
    width: 200px;
  }

  #cali-description h1 {
    margin-bottom: 50px;
  }

  /* Third div */

  #chairperson {
    background-image: url("../images/persia.jpg");
    width: 65vw;
    height: calc(65vw / 2);
    margin: 200px auto 100px auto;
  }

  #chairperson-description {
    top: 50px;
    left: -100px;
    height: 275px;
    width: 275px;
  }

  #chairperson-description p {
    margin-top: 20px;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 20px;
  }
}