/* Global varibles */

:root {
  --gold: #cbbd78;
  --lauGreen: #016251;
  --bg: whitesmoke;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Matt Antique BT";
  src: url("../fonts/Matt\ Antique\ BT.ttf");
}

/* General Styling for all media queries */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Matt Antique BT";
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: var(--bg);
}

/* Stylings for specific media queries */

@media only screen and (max-width: 320px) {
  #citeUs {
    padding-top: 45px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 85vw;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.375rem;
  }

  .fa-copy {
    font-size: 0.875rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    overflow-x: scroll;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.375rem;
  }

  .text__bibTex {
    overflow-x: scroll;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 0.75rem;
  }

  pre {
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 320px) {
  #citeUs {
    padding-top: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 85vw;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.5625rem;
  }

  .fa-copy {
    font-size: 0.875rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    overflow-x: scroll;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.5625rem;
  }

  .text__bibTex {
    overflow-x: scroll;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  pre {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  #citeUs {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 480px;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.875rem;
  }

  .fa-copy {
    font-size: 1rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    overflow: visible;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.875rem;
  }

  .text__bibTex {
    overflow: visible;
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  pre {
    white-space: pre-wrap !important;
    font-size: 1.0625rem;
  }
}

@media only screen and (min-width: 768px) {
  #citeUs {
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 525px;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.875rem;
  }

  .fa-copy {
    font-size: 1rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.875rem;
  }

  .text__bibTex {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  pre {
    white-space: pre-wrap !important;
  }
}

@media only screen and (min-width: 992px) {
  #citeUs {
    padding-top: 75px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 525px;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.875rem;
  }

  .fa-copy {
    font-size: 1rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.875rem;
  }

  .text__bibTex {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  pre {
    white-space: pre-wrap !important;
  }
}

@media only screen and (min-width: 1200px) {
  #citeUs {
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .child__container {
    position: relative;
    width: 625px;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
  }

  .__citation h1 {
    font-size: 1.875rem;
  }

  .fa-copy {
    font-size: 1rem;
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
  }

  .fa-copy:hover {
    transform: translateY(-1px);
  }

  .text__citation {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  .__bibtex {
    margin-top: 40px;
  }

  .__bibtex h1 {
    font-size: 1.875rem;
  }

  .text__bibTex {
    font-size: 1.125rem;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--gold);
    padding: 10px;
  }

  #copied {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-weight: 400;
    font-size: 1rem;
  }

  pre {
    white-space: pre-wrap !important;
  }
}