/* Global varibles */

:root {
  --extraDarkblue: rgb(0, 0, 50);
  --gold: #cbbd78;
  --lauGreen: #016251;
  --bg: whitesmoke;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Matt Antique BT";
  src: url("../fonts/Matt\ Antique\ BT.ttf");
}

/* General Styling for all media queries */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Matt Antique BT";
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: var(--bg);
}

/* Stylings for specific media queries */

@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 100px auto 0 auto;
  }

  /* Download Container */

  .download__container {
    position: relative;
    height: 125px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: table;
  }

  #download__desc {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
  }

  .download__btn {
    font-family: "Matt Antique BT";
    background-color: transparent;
    border: 2px solid var(--gold);
    padding: 7px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--gold);
    transition: all 0.8s;
  }

  .download__btn:hover {
    background-color: var(--gold);
    color: whitesmoke;
  }

  #download__icon {
    vertical-align: bottom;
    font-size: 22px;
  }

  #zip {
    display: none;
  }

  /* Lower container */

  .lower__container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: center;
    /* background-color: red; */
  }

  /* Slideshow */

  .left {
    width: 60%;
  }

  .one-time {
    margin-top: 60px;
  }

  .one-time img {
    display: block;
    margin: auto;
    height: 350px;
  }

  /* License and Citation */

  .right {
    margin-top: 60px;
    padding: 15px;
    width: 30%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }

  .right h2 {
    font-size: 24px;
    color: var(--gold);
    text-align: center;
  }

  #license__header {
    margin-top: 10px;
  }

  #license__desc {
    margin-top: 20px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
  }

  #license__desc a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
  }

  #license__desc a:hover {
    color: var(--gold);
  }

  #flex__header__container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .fa-copy {
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
    font-size: 15px;
  }

  .fa-copy:hover {
    transform: scale(1.2);
  }

  #copied {
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto 0 auto;
  }

  /* Download Container */

  .download__container {
    position: relative;
    height: 125px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: table;
  }

  #download__desc {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
  }

  .download__btn {
    font-family: "Matt Antique BT";
    background-color: transparent;
    border: 2px solid var(--gold);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--gold);
    transition: all 0.8s;
  }

  .download__btn:hover {
    background-color: var(--gold);
    color: whitesmoke;
  }

  #download__icon {
    vertical-align: bottom;
    font-size: 22px;
  }

  #zip {
    display: none;
  }

  /* Lower container */

  .lower__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* background-color: red; */
  }

  /* Slideshow */

  .left {
    width: 50%;
  }

  .one-time {
    margin-top: 60px;
  }

  .one-time img {
    display: block;
    margin: auto;
    height: 400px;
  }

  /* License and Citation */

  .right {
    margin-top: 60px;
    padding: 20px;
    width: 30%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }

  .right h2 {
    font-size: 25px;
    color: var(--gold);
    text-align: center;
  }

  #license__header {
    margin-top: 20px;
  }

  #license__desc {
    margin-top: 20px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
  }

  #license__desc a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
  }

  #license__desc a:hover {
    color: var(--gold);
  }

  #flex__header__container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .fa-copy {
    vertical-align: super;
    color: var(--gold);
    cursor: pointer;
    transition: all 1s;
    font-size: 15px;
  }

  .fa-copy:hover {
    transform: scale(1.2);
  }

  #copied {
    color: var(--gold);
    transition: all 1s;
    opacity: 0;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}