/* Global varibles */

:root {
  --extraDarkblue: rgb(0, 0, 50);
  --gold: #cbbd78;
  --bg: whitesmoke;
  --gray: rgb(100, 100, 100);
}

/* Fonts */

@font-face {
  font-family: "Matt Antique BT";
  src: url("../fonts/Matt\ Antique\ BT.ttf");
}

/* Scroll Bar */

/* ::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 8px;
}

.nav::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
} */

/* General Styling for all media queries */

#navbar {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

#topbar__img {
  display: inline;
  margin-left: 5%;
}

.btn {
  color: var(--gray);
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;
}

.btn:hover {
  color: var(--gold);
}

.active a {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
}

#open-nav {
  display: inline-block;
  vertical-align: middle;
  color: var(--gray);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#open-nav:hover {
  color: var(--gold);
}

.link-container {
  display: none;
}

.nav {
  margin: 0;
  padding-top: 2px;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: 0.5s;
}

#menu-child {
  height: 100%;
}

#close-nav {
  position: absolute;
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease-in-out;
}

#close-nav:hover {
  color: var(--gold);
}

.show {
  left: 0;
}

#sidebar__img {
  display: block;
  margin-top: 2vh;
}

.grid__container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
}

.grid__container__btn {
  color: var(--gray);
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;
}

.grid__container__btn:hover {
  color: var(--gold);
}

/* Stylings for specific media queries */

@media only screen and (max-width: 320px) {
  #navbar {
    height: 35px;
  }

  #topbar__img {
    height: 35px;
  }

  .btn {
    padding: 5px 15px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 6px;
  }

  #open-nav {
    font-size: 27px;
    margin: 5px 20px;
  }

  .nav {
    overflow: auto;
  }

  #close-nav {
    top: 8px;
    right: 17px;
    font-size: 25px;
  }

  #sidebar__img {
    height: 40px;
    margin-left: 3%;
  }

  .grid__container {
    margin-top: 13vh;
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .grid__container__btn {
    padding: 5px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 320px) {
  #navbar {
    height: 40px;
  }

  #topbar__img {
    height: 40px;
  }

  .btn {
    padding: 5px 15px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 6px;
  }

  #open-nav {
    font-size: 27px;
    margin: 5px 20px;
  }

  .nav {
    overflow: auto;
  }

  #close-nav {
    top: 8px;
    right: 17px;
    font-size: 25px;
  }

  #sidebar__img {
    margin: 2vh auto 0 auto;
    height: 50px;
  }

  .grid__container {
    margin-top: 17vh;
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .grid__container__btn {
    padding: 5px 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  #navbar {
    height: 55px;
  }

  #topbar__img {
    height: 55px;
  }

  .btn {
    padding: 5px 15px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 6px;
  }

  #open-nav {
    font-size: 30px;
    margin: 5px 20px;
  }

  .nav {
    overflow: auto;
  }

  #close-nav {
    top: 20px;
    right: 25px;
    font-size: 25px;
  }

  #sidebar__img {
    margin: 2vh auto 0 auto;
    height: 12vh;
  }

  .grid__container {
    margin-top: 25vh;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  .grid__container__btn {
    padding: 5px 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  #navbar {
    height: 60px;
  }

  #topbar__img {
    height: 60px;
  }

  .btn {
    padding: 5px 20px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 10px;
  }

  #open-nav {
    font-size: 40px;
    margin: 5px 20px;
  }

  .nav {
    overflow: auto;
  }

  #close-nav {
    top: 20px;
    right: 25px;
    font-size: 30px;
  }

  #sidebar__img {
    margin: 2vh auto 0 auto;
    height: 15vh;
  }

  .grid__container {
    margin-top: 25vh;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  .grid__container__btn {
    padding: 5px 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  #navbar {
    height: 65px;
  }

  #topbar__img {
    height: 65px;
  }

  .btn {
    padding: 5px 20px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 10px;
  }

  #open-nav {
    font-size: 40px;
    margin: 5px 20px;
  }

  .nav {
    overflow: auto;
  }

  #close-nav {
    top: 20px;
    right: 25px;
    font-size: 30px;
  }

  #sidebar__img {
    height: 65px;
    margin: 2vh auto 0 auto;
    height: 15vh;
  }

  .grid__container {
    margin-top: 25vh;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  .grid__container__btn {
    padding: 5px 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  #navbar {
    height: 72.5px;
  }

  #topbar__img {
    height: 72.5px;
  }

  .btn {
    padding: 5px 12.5px;
    font-size: 18px;
  }

  .active a {
    padding-bottom: 10px;
  }

  #open-nav {
    display: none;
  }

  .link-container {
    display: inline;
  }

  .nav {
    width: 100%;
    display: none;
  }

  #close-nav {
    display: none;
  }
}