/* Global varibles */

:root {
  --gold: #cbbd78;
  --bg: whitesmoke;
  --gray: rgb(100, 100, 100);
  --loader-color: #cbbd78;
}

/* Fonts */

@font-face {
  font-family: "Matt Antique BT";
  src: url("../fonts/Matt\ Antique\ BT.ttf");
}

/* Animations */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* General Styling for all media queries */

#navbars {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

#topbar__hicma__logo {
  display: inline;
  margin-left: 5%;
}

.topbar__link > a {
  color: var(--gray);
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;
}

.topbar__link > a:hover {
  color: var(--gold);
}

.active a {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
}

#open__sidebar {
  display: inline-block;
  vertical-align: middle;
  color: var(--gray);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#open__sidebar:hover {
  color: var(--gold);
}

.topbar__link {
  display: none;
}

.sidebar {
  margin: 0;
  padding-top: 2px;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: 0.5s;
}

#close__sidebar {
  position: absolute;
  cursor: pointer;
  color: var(--gray);
  transition: all 0.3s ease-in-out;
}

#close__sidebar:hover {
  color: var(--gold);
}

.show {
  left: 0;
}

#sidebar__img {
  display: block;
  margin-top: 2vh;
}

.sidebar__link__container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  padding-bottom: 20px;
}

.link__container__btn {
  color: var(--gray);
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;
}

.link__container__btn:hover {
  color: var(--gold);
}

#preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 101;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.turn {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
  border: 3px solid transparent;
  border-top: 3px solid var(--loader-color);
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
}

/* Stylings for specific media queries */

@media only screen and (max-width: 320px) {
  #navbars {
    height: 35px;
  }

  #topbar__hicma__logo {
    height: 35px;
  }

  .active a {
    padding-bottom: 6px;
  }

  #open__sidebar {
    font-size: 1.6875rem;
    margin: 5px 20px;
  }

  .sidebar {
    overflow: auto;
  }

  #close__sidebar {
    top: 8px;
    right: 17px;
    font-size: 1.6875rem;
  }

  #sidebar__img {
    height: 40px;
    margin-left: 3%;
  }

  .sidebar__link__container {
    margin-top: 13vh;
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .link__container__btn {
    padding: 5px;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 320px) {
  #navbars {
    height: 40px;
  }

  #topbar__hicma__logo {
    height: 40px;
  }

  .active a {
    padding-bottom: 6px;
  }

  #open__sidebar {
    font-size: 1.6875rem;
    margin: 5px 20px;
  }

  .sidebar {
    overflow: auto;
  }

  #close__sidebar {
    top: 8px;
    right: 17px;
    font-size: 1.6875rem;
  }

  #sidebar__img {
    margin: 2vh auto 0 auto;
    height: 60px;
  }

  .sidebar__link__container {
    margin-top: 17vh;
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .link__container__btn {
    padding: 5px 20px;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 600px) {
  #navbars {
    height: 55px;
  }

  #topbar__hicma__logo {
    height: 55px;
  }

  #open__sidebar {
    font-size: 1.875rem;
    margin: 5px 20px;
  }

  #close__sidebar {
    top: 20px;
    right: 25px;
    font-size: 1.875rem;
  }

  #sidebar__img {
    height: 12vh;
    max-height: 175px;
  }

  .sidebar__link__container {
    margin-top: 25vh;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 768px) {
  #navbars {
    height: 60px;
  }

  #topbar__hicma__logo {
    height: 60px;
  }

  .active a {
    padding-bottom: 10px;
  }

  #open__sidebar {
    font-size: 2.5rem;
  }

  .sidebar {
    overflow: auto;
  }

  #close__sidebar {
    font-size: 2.5rem;
  }

  #sidebar__img {
    height: 15vh;
  }
}

@media only screen and (min-width: 992px) {
  #navbars {
    height: 65px;
  }

  #topbar__hicma__logo {
    height: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  #navbars {
    height: 72.5px;
  }

  #topbar__hicma__logo {
    height: 72.5px;
  }

  .topbar__link > a {
    padding: 5px 12.5px;
    font-size: 1.125rem;
  }

  .active a {
    padding-bottom: 10px;
  }

  #open__sidebar {
    display: none;
  }

  #topbar__links {
    display: block;
  }

  .topbar__link {
    display: inline;
  }

  #topbar__links {
    margin-right: 2%;
  }

  .sidebar {
    width: 100%;
    display: none;
  }

  #close__sidebar {
    display: none;
  }
}